@import "tailwindcss";

:root,
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: black;
  /* background-color: rgba(24, 24, 24, 0.87); */
  background-color: rgba(255, 255, 255, 0.87);

  scroll-behavior: smooth;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  transform: translateY(0) !important;
  color: black !important;
  background-color: white;
  padding: 7px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
